#headernav {
  background-size: 100%;
  background: #000000;
	width: 940px;
	height: 76px;
	border-radius: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 12px;
	margin-bottom: 12px;
	line-height: 52px;
}

#headernav {
	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-khtml-background-size: 100%;

	/* Border-radius not implemented yet */
 	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#headernavheader {
  float: left;
  width: 300px;
  margin-left: 12px;
}

#headernavheader h1 {
  position: absolute;
	color: #fff;
	display: inline;	
	margin-top: 6px;
	margin-left: 0px;
	padding: 0px;
}

#headernavheader p {
  position: absolute;
	color: #fff;
	font-size: 28px;
	display: inline;	
	margin-top: 12px;
	margin-left: 6px;
}

nav {
  margin-top: 28px;
  margin-right: 6px;
}

nav ul {
	margin: 0 auto;
	list-style: none;
}

nav ul li {
	float: right;
}

nav ul li a {
	display: block;
	margin-right: 0px;
	width: 130px;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

nav ul li a:hover {
	color: #fff;
	background: #151B8D;
	border-radius: 22px;
}

nav ul li.selected a {
	color: #000000;
	background: #fff;
}