#introborder {
  background: #fff;
  background-size: 100%;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  padding: 6px;
}

#intro {
  display: table;
	padding: 22px;
	background: #151B8D;
	background-size: 100%;
	border-radius: 12px;
}

#intro {
	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-khtml-background-size: 100%;

	/* Border-radius not implemented yet */
 	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#introtxt {
  display: table-cell;
  vertical-align: middle;
  width: 200;
}

#introimg {
	display: table-cell;
	vertical-align: middle;
	float: right;
	width: 400;
}


#intro h2, #intro p {
  float: left;
	color: #fff;
}

#intro h2 {
	padding: 0 0 12px 0;
	font-weight: normal;
	color: #fff;
}

#intro p {
	padding: 0;
	color: #fff;
}