#login_signup {	
  display: table;
  margin-top: 4px;
  visibility:hidden;
  
}

#login {
	background-size: 100%;
	border-radius: 12px;
	display: table-cell;
	width: 620px;
	padding-left: 22px;
	padding-right: 22px;
}

#signup {
	display: table-cell;
	padding: 12px;
	width: 300px;
	height: 80px;
	line-height: 80px;
	background: #357EC7 url("/images/signup_big.png") left center no-repeat;
	border-radius: 5px;
	vertical-align: middle;
}

#signup a {
  float: right;
  margin-right: 20px;
	font-size: 48px;
	line-height: 80px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}