/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #f0f0f0;
}

h1 {
	font-size: 36px;
	line-height: 66px;
	padding: 22px 0;
}

h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}

#content {
}

#recipe {	
  display: table;
}

#recipehead h2 {
  color: #fff;
  font-weight: normal; 
}

#recipehead {
  padding-left: 22px;
  padding-bottom: 0px;
  background: #151B8D;
  background-size: 100%;
  border-radius: 5px;  
}

#recipefoot h3 {
  color: #fff;
  font-weight: normal;
}

#recipefoot {
  padding-left: 22px;
  padding-bottom: 0px;
  background: #8fcaef;
  background-size: 100%;
  border-radius: 22px;  
}


#maincontent {
  background: #caef8f;
	background-size: 100%;
	border-radius: 12px;
	display: table-cell;
	width: 620px;
	padding-left: 22px;
	padding-right: 22px;
}

#recipedetails {
  background: #e4f6c7;
  background-size: 100%;
  border-radius: 12px;
	display: table-cell;
	width: 300px;
}

#recipedetails ul {
	margin: 0 auto;
	list-style: none;
}

#recipedetails ul li {
	display: block;
	margin-right: 20px;
	width: 140px;
	font-size: 14px;
	line-height: 44px;
	text-align: left;
	text-decoration: none;
	color: #777;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
