<section id="introborder">
	<div id="intro">
		<%= render :partial => "intro" %>
	</div>
</section>

<section id="login_signup">
	<%= render :partial => "layouts/login" %>
	<%= render :partial => "layouts/signup" %>
</section>
