<div id="signup">
	<%= link_to new_user_registration_path do %>
		<%= image_tag "/images/signup_big.png", :size => "66x66" %>
		<h1>Sign Up</h1>
	<% end %> <h2>or <%= link_to "Sign In", new_user_session_path %>
</div>